body {
    margin: 0;
    padding: 0;
}

body * {
    font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
    #wd-kambaz .wd-main-content-offset {
        padding-left: 140px !important;
    }
}

#wd-neu-link {
    background-color: transparent;
    padding-top: 25px;
}

.list-group-item:focus,
.list-group-item:active {
    background-color: white !important;
    color: #dc3545 !important;
}

.list-group-item {
    transition: background-color 0.5s ease, color 0.5s ease;
}

#wd-account-link:focus .fs-1 {
    color: grey !important;
}

.wd-dashboard-course {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: "270px";
    --bs-gutter-x: 30px;
    --bs-gutter-y: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card img {
    margin: 0 auto;
}

.card-text,
.card-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 225px;
    overflow: hidden;
}

.card-text {
    font-size: 0.9rem
}

.btn-primary {
    margin-top: -5px;
}